* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in all;
}

.show {
  opacity: 100;
  visibility: visible;
  transition: 0.5s ease-in all;
}

body {
  /* color: #2a2a2a; */
  color: #000;
  background: #F3F0D7;
  /* background: wheat; */
}

a {
  color: inherit;
  text-decoration: none;
}
